@using ECommerceLiteEntity.Models
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Products in the System</h2>
<br />
<div class="col-md-12">
    @using (Html.BeginForm("ProductList", "Product", FormMethod.Get))
    {
        <p>
            Product Name: @Html.TextBox("search")
            <input type="submit" value="Ara" class="btn btn-info btn-sm" />
        </p>
    }
</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="/Product/Create" class="btn btn-info" style=" margin-right:5px;">Yeni Ürün Ekle</a>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Register Date</th>
                        <th>Product Description</th>
                        <th>Category</th>
                        <th>Unit Price</th>
                        <th>Stock Quantity</th>
                        <th>Proccess</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-default" onclick="ProductBtnClicked(@item.Id)" data-toggle="modal" data-target="#myModal">
                                    @item.ProductName
                                </button>
                            </td>
                            <td>@item.RegisterDate.ToString("dd.MMMM.yyyy")</td>
                            <td>@item.Description</td>
                            <td>@item.Category.CategoryName</td>
                            <td>@item.Price ₺ </td>
                            <td>@item.Quantity </td>
                            <td>
                                <a href="/Product/Edit/@item.Id" class="btn btn-sm btn-warning" style=" margin-right:5px;">Edit</a>
                                <a href="/Product/Delete/@item.Id" class="btn btn-sm btn-danger" style=" margin-right:5px;">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="center">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("ProductList", "Product", new { page }))
            </div>
        </div>
    </div>
</div>

<!--Modal Başlangıç-->
<div class="modal fade col-md-12" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!--Modal Content Başlangıç-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Product Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="form-modal" class="modal-body">
                @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <input type="hidden" name="Id" id="ProductId" class="form-control" />
                    <div class="col-md-12">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Product Name")
                            <input id="ProductName" name="ProductName" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Product Description")
                            <input id="Description" name="Description" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Product Code")
                            <input id="ProductCode" name="ProductCode" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Product Quantity")
                            <input id="Quantity" name="Quantity" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Product Price")
                            <input id="Price" name="Price" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:left">Close</button>
                            <input type="submit" value="SAVE" class="btn btn-info" style="float:right" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--Modal Content Bitiş-->
    </div>
</div>
<!--Modal Bitiş-->


@section scripts{
    <script>
        function ProductBtnClicked(id) {
            console.log(id);
            $.ajax({
                type: "GET",
                url: '/Product/GetProductDetails/' + id,
                success: function (res) {
                    if (res.isSuccess) {
                        $('#ProductName').val(res.data.ProductName);
                        $('#Description').val(res.data.Description);
                        $('#ProductCode').val(res.data.ProductCode);
                        $('#Price').val(res.data.Price);
                        $('#Quantity').val(res.data.Quantity);
                        $('#ProductId').val(res.data.Id);
                    }
                    else {

                    }
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }
    </script>
    }