@using ECommerceLiteEntity.Models
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Product on the System</h2>
<br />

<div class="col-md-12">
    @using (Html.BeginForm("ProductList", "Product", FormMethod.Get))
            {
                <p>
                    Product Name: @Html.TextBox("search")
                    <input type="submit" value="Search" class="btn btn-info btn-sm" />
                </p>
            }
</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="/Product/Create" class="btn btn-info" style=" margin-right:5px;">Add New Product</a>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Register Date</th>
                        <th>Product Description</th>
                        <th>Product Category</th>
                        <th>Unit Price</th>
                        <th>Stok</th>
                        <th>Processes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.RegisterDate.ToString("dd.MMMM.yyyy")</td>
                            <td>@item.Description</td>
                            <td>@item.Category.CategoryName</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>
                                <a href="/Product/Edit/@item.Id" class="btn btn-sm btn-warning" style=" margin-right:5px;">Edit</a>

                                <a href="/Product/Delete/@item.Id" class="btn btn-sm btn-danger" style=" margin-right:5px;">Delete</a>
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
            <div class="center">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("ProductList","Product", new { page }))
            </div>
        </div>
    </div>
</div>