@using ECommerceLiteUI.Models
@model ProfileViewModel
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row margin-vert-30" style="margin-left:25%; margin-right:25%">
    <div class="col-6 offset-3">
        <span class="text-danger">@Html.ValidationSummary()</span>
        @using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            if (ViewBag.TheResult != null)
            {
                <!-- Default Blockquote -->
                <blockquote>
                    <p>
                        <h4 style="text-align:center"><em>@ViewBag.TheResult</em></h4> <br />
                    </p>
                </blockquote>
                <!-- End Default Blockquote -->
            }
            else
            {
                <h4 style="text-align:center">You can change your information and click the update button...</h4> <br /> <br />
            }

            <div class="form-group col-4 offset-4">
                <div class="form-group">
                    @Html.Label("Email Address")
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" }) <br />
                </div>

                <div class="form-group">
                    @Html.Label("Name")
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" }) <br />
                </div>

                <div class="form-group">
                    @Html.Label("Surname")
                    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" }) <br />

                </div>
                <div class="form-group">
                    @Html.Label("Current Password")
                    @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" }) <br />

                </div>
                <div class="pull-right">
                    @*a tagini kullanarak Update My Password''e gitmek isterseniz aşağıdaki scrpite gerek kalmıyor.*@
                    @*<a href="/Account/UpdatePassword" class="btn btn-default " style="background-color: white; color: #D10024; font-weight: bold; margin-right:5px">Update My Password</a>*@

                    @*input kullanarak Update My Passworde gitmek isterseniz script yazılması gerekiyor.*@
                    <input type="button" value="Update My Password" onclick="gotoupdatepasswordpage()" class="btn btn-default " style="background-color: white; color: #D10024; font-weight: bold; margin-right:5px">

                    <button type="submit" value="Guncelle" class="btn btn-default" style="background-color:#D10024; color:white; ">
                        <b>
                            Update My Profile
                        </b>
                    </button>
                </div>
            </div>

        }

    </div>
</div>
@section scripts{
    <script>
        function gotoupdatepasswordpage() {
            window.location.assign("/Account/UpdatePassword")
        }
    </script>
}

